<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/google-apis/google-js-api.html">
<link rel="import" href="../../bower_components/google-signin/google-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="google-signin-offline">
	<style>
		:host {
			display: block;
		}
		paper-button {
			color: #fff;
			text-transform: none;
			font-size: 14px;
			font-weight: 400;
			margin: 0;
		}
		paper-button::shadow .content{
			padding: 7px;
		}
		paper-button::shadow .keyboard-focus {
			font-weight: normal;
		}
		.signedIn-false {
			background-color: #e74b37;
		}
		.signedIn-true {
			background-color: #999999;
		}
		#label {
			margin-left: 2px;
			margin-right: 4px;
		}
	</style>

	<template>
		<google-js-api
			on-js-api-load="_apiLoaded">
		</google-js-api>
		<paper-button 
			class$="[[_computeButtonClass(_signedIn)]]"
			on-tap="_click">
			<span><iron-icon icon="google:google"></iron-icon></span>
			<span id="label">[[label]]</span>
		</paper-button>
	</template>
</dom-module>

<script>

	(function() {

		var Label = {
			SIGN_IN: "Sign in",
			SIGN_OUT: "Sign out",
		};

		Polymer({
			is: "google-signin-offline",

			properties: {
				clientId: String,
				_signedIn: {
					type: Boolean,
					value: false,
					observer: '_observeSignedIn',
				},
				label: {
					type: String,
					value: Label.SIGN_IN
				}
			},

			_computeButtonClass: function(signedIn) {
        		return "signedIn-" + signedIn;
			},

			_observeSignedIn(newVal, oldVal) {
				if(newVal) {
					this.label = Label.SIGN_OUT;
				} else {
					this.label = Label.SIGN_IN;
				}
			},

			_apiLoaded: function() {
				console.log("gapi loaded");
				gapi.load('auth2', function() {
					auth2 = gapi.auth2.init({
						client_id: this.clientId,
						// Scopes to request in addition to 'profile' and 'email'
						//scope: 'additional_scope'
			    	});
			    	console.log(auth2.isSignedIn.get());
			    	auth2.currentUser.listen(this._handleUserUpdate.bind(this));
			    }.bind(this));
			},

			_handleUserUpdate: function(newPrimaryUser) {
		        // update and broadcast currentUser
		        this._signedIn = newPrimaryUser.isSignedIn();
		        this.fire('signin');
		    },

			_click: function() {
				if(this._signedIn) {
					this.signOut();
				} else {
					this.signIn();
				}
			},

			signIn: function() {
				auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(this._signInCallback.bind(this));
			},

			_signInCallback: function(authResult) {
				this._signedIn = true;
				this.fire('signin', authResult);
				console.log(auth2.isSignedIn.get());
			},

			signOut: function() {
				auth2.signOut();
				this._signedIn = false;
				this.fire('signout');
			},

			disconnect: function() {
				auth2.disconnect();
				this._signedIn = false;
				this.fire('disconnect');
			}
		});

	}());
</script>