<link rel="import" href="../../bower_components/google-signin/google-signin.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="login-prototype">
	<style>
		:host {
			display: block;
		}
		div {
			margin: 20px;
		}
		google-signin {
			margin: 0;
		}
		paper-input {
			display: inline-block;
			font-size: 14px;
		}
		paper-button {
			text-transform: none;
			background-color: #3f51b5;
			color: #fff;
			font-size: 14px;
		}
	</style>
	<template>
		<div>
			<google-signin
				offline
				client-id="[[clientId]]"
				on-google-signin-offline-success="signin"
				on-google-signed-out="signout">
			</google-signin>
		</div>
		<div>
			<span><b>ClientID: </b></span>
			<span>[[clientId]]</span>
		</div>
		<div>
			<span><b>State: </b></span>
			<span>[[state]]</span>
		</div>
		<div>
			<span><b>Code: </b></span>
			<span>[[code]]</span>
		</div>
		<div>
			<span><b>Username: </b></span>
			<span>[[username]]</span>
		</div>
		<div>
			<span><paper-input id="input" required label="Enter a username"></paper-input></span>
			<span><paper-button on-tap="postUser">Submit</paper-button></span>
		</div>

		<iron-ajax id="postSignin"
			url="/api/login"
			method="POST"
			content-type="application/json"
			handle-as="json"
			on-response="loginResponse">
		</iron-ajax>

		<iron-ajax id="postSignout"
			url="/api/logout"
			method="POST"
			content-type="application/json"
			handle-as="json"
			on-response="logoutResponse">
		</iron-ajax>

		<iron-ajax id="postUser"
			url="/api/users"
			method="POST"
			content-type="application/json"
			handle-as="json"
			on-response="postUserResponse">
		</iron-ajax>

	</template>
</dom-module>

<script>
	Polymer({
		is: "login-prototype",

		properties: {
			clientId: String,
			state: String,
			code: String,
			username: String,
		},

		test: function() {
			console.log("test");
		},

		signin: function(event, detail, sender) {
			console.log("signed in");
			console.log(detail);
			this.$.postSignin.params = {
				state: this.state
			};
			if (detail.code) {
				this.code = detail.code;
				this.$.postSignin.body = {
					code: this.code
				};
			}
			this.$.postSignin.generateRequest();
		},

		signout: function(event, detail, sender) {
			 console.log("signed out");
			 this.$.postSignout.generateRequest();
		},

		loginResponse: function(event, detail, sender) {
			console.log(detail.response);
			if (detail.response.error) {
				console.log(detail.response.error);
			} else if (!detail.response.username) {
				// this.createUser();
			} else {
				this.username = detail.response.username;
			}
		},

		logoutResponse: function(event, detail, sender) {
			if (detail.response.error) {
				console.log(detail.response.error);
			} else {
				this.code = null;
				this.username = null;
			}
		},

		postUser: function() {
			this.$.postUser.body = {
				username: this.$.input.value
			};
			this.$.postUser.generateRequest();
		},

		postUserResponse: function(event, detail, sender) {
			if (detail.response.error) {
				this.$.input.errorMessage = detail.response.error;
				this.$.input.invalid = true;
			} else {
				this.$.input.invalid = false;
				this.username = detail.response.username;
			}
		}
	});
</script>